services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: ${PG_NAME}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


  redis:
    image: redis:7.2-alpine
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  bot:
    build: .
    restart: unless-stopped
    depends_on:
      - redis
    command: >
      sh -c "
        python main.py
        "
      

  celery:
    build: .
    restart: unless-stopped
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/1
      - CELERY_RESULT_BACKEND=redis://redis:6379/2
    command: celery -A celery_app.celery worker --loglevel=info

  beat:
    build: .
    command: celery -A celery_app.celery beat --loglevel=info --uid=root -s /tmp/celerybeat-schedule
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/1
      - CELERY_RESULT_BACKEND=redis://redis:6379/2
    restart: unless-stopped


volumes:
  pgdata:
  redisdata: